@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}
