@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
}

:root {
  --color-dark: #565C66;
  --color-dark-tr: rgba(86, 92, 102, 0.3);
  --color-extra-dark: #2D3440;
  --color-extra-dark-tr: rgba(45, 52, 64, 0.3);
  --color-basic-neutral: #B9B9B9;
  --color-basic-neutral-tr-03: rgba(185, 185, 185, 0.3);
  --color-status-error: #EA5454;
  --color-basic-light: #E7E7E7;
  --bg-color-pink: #FEAFC3;
  --color-blue: #69A9FF;
  --color-yellow: #FCC850;
  --bg-extra-light: rgba(252, 252, 252, 1);
  --bg-extra-light-tr: rgba(252, 252, 252, 0.3);
  --bg-extra-light-tr-05: rgba(252, 252, 252, 0.5);
  --bg-extra-light-tr-04: rgba(252, 252, 252, 0.4);
  --color-pink-neutral: #FF7799;
  --color-pink-extra-light: #FFCBD8;
  --color-pink-bright: #FF4A78;
  --color-pink-extra-bright: #FF2F64;
  --color-pink-extra-bright-tr: rgba(255, 47, 100, 0.3);
  /* Названия по стайлгайду */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-extra-dark);
}

.page,
.page--pink {
  background-color: var(--bg-color-pink);
}

.page--blue {
  background-color: var(--color-blue);
}

.page--yellow {
  background-color: var(--color-yellow);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-index,
.main-catalog {
  flex-grow: 1;
}

.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.button {
  display: inline-block;
  max-width: 250px;
  margin: 0;
  padding: 12px 32px;
  background-color: var(--bg-extra-light);
  box-shadow:
    0 0 0 4px var(--bg-extra-light-tr-04),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
  border-radius: 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  overflow-wrap: break-word;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease;
}

.button:hover {
  box-shadow:
    0 0 0 4px var(--bg-extra-light),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: var(--bg-extra-light-tr-04);
}

.button:focus-visible {
  box-shadow:
    0 0 0 2px var(--color-extra-dark),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: var(--bg-extra-light-tr-05);
  outline: none;
}

@supports not selector(:focus-visible) {
  .button:focus {
    box-shadow:
      0 0 0 2px var(--color-extra-dark),
      0px 4px 12px rgba(45, 52, 64, 0.1);
    background-color: var(--bg-extra-light-tr-05);
    outline: none;
  }
}

.button:active {
  box-shadow:
    0 0 0 2px var(--color-extra-dark),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: var(--bg-extra-light);
}

.button:disabled,
.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:focus-visible,
.button--disabled:active {
  box-shadow:
    0 0 0 4px var(--bg-extra-light-tr-04);
  background-color: var(--color-basic-light);
  color: var(--color-basic-neutral);
  font-weight: 400;
  cursor: default;
}

.button--await,
.button--await:hover,
.button--await:focus,
.button--await:focus-visible,
.button--await:active {
  display: grid;
  grid-template-columns: auto 16px;
  column-gap: 8px;
  align-items: center;
  background-color: var(--bg-extra-light);
  box-shadow:
    0 0 0 4px var(--bg-extra-light-tr-04),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: default;
}


.button--await::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/spinner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button--submit {
  color: #FFFFFF;
  background-color: var(--color-pink-extra-bright);
  box-shadow:
    0 0 0 4px var(--color-pink-extra-bright-tr),
    0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button--submit:hover {
  background-color: var(--bg-extra-light-tr);
  box-shadow:
    0 0 0 4px var(--color-pink-extra-bright),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  color: var(--color-dark);
}

.button--submit:focus-visible {
  box-shadow:
    0 0 0 2px var(--color-extra-dark),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: var(--color-pink-extra-bright);
  color: var(--bg-extra-light);
  outline: none;
}

@supports not selector(:focus-visible) {
  .button--submit:focus {
    box-shadow:
      0 0 0 2px var(--color-extra-dark),
      0px 4px 12px rgba(45, 52, 64, 0.1);
    background-color: var(--color-pink-extra-bright);
    color: var(--bg-extra-light);
    outline: none;
  }
}

.button--submit:active {
  box-shadow:
    0 0 0 2px var(--color-extra-dark),
    0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: var(--bg-color-pink);
  color: var(--bg-extra-light);
}

.button--submit:disabled,
.button--submit.button--disabled {
  box-shadow: 0 0 0 4px var(--color-basic-neutral-tr-03);
  background-color: var(--color-basic-neutral);
  color: var(--color-dark);
}

.button--submit.button--await {
  color: #FFFFFF;
  background-color: var(--color-pink-extra-bright);
  box-shadow:
    0 0 0 4px var(--color-pink-extra-bright-tr),
    0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button--submit.button--await::after {
  background-image: url("../images/icons/spinner-light.svg");
}

.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 13px 15px;
  border: 1px solid var(--color-basic-neutral);
  border-radius: 4px;
}

.field::placeholder {
  font: inherit;
  color: var(--color-basic-neutral);
}

.field:hover {
  border-color: var(--color-extra-dark);
}

.field:focus {
  padding: 12px 14px;
  border-width: 2px;
  border-color: var(--color-extra-dark);
  outline: none;
}

.field--invalid {
  border-color: var(--color-status-error);
}

.field--invalid:hover,
.field--invalid:focus {
  padding: 12px 14px;
  border-width: 2px;
}

.field:disabled {
  padding: 13px 15px;
  border: 1px solid var(--color-basic-neutral);
  background-color: var(--color-basic-light);
}

.field:disabled::placeholder {
  color: var(--color-extra-dark);
  opacity: 0.65;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 0;
  line-height: 20px;
}

.header--catalog {
  margin-bottom: 32px;
}

.header__navigation {
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  max-width: calc(137px + 550px + 16px);
  align-items: center;
}

.navigation__logo img {
  display: block;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 550px;
  list-style-type: none;
}

.navigation__button,
.navigation__link {
  display: block;
  padding: 6px 14px;
  max-width: 220px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
}

.navigation__button {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 6px;
  align-items: center;
  margin: 0;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.navigation__caption {
  max-width: 160px;
  overflow-wrap: break-word;
}

.header__number {
  margin-right: 16px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  margin: 0;
  padding: 0;
  max-width: 290px;
  list-style-type: none;
}

.user-panel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  margin: 0;
  padding: 4px 14px;
  max-width: 160px;
  min-height: 32px;
  background-color: var(--bg-extra-light-tr);
  border: 2px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.user-panel__item--search .user-panel__button {
  padding-right: 6px;
  padding-left: 6px;
  min-width: 32px;
  height: 32px;
  border-radius: 27px;
}

.user-panel__icon {
  order: -1;
  flex-shrink: 0;
}

.user-panel__caption {
  max-width: 100px;
  overflow-wrap: break-word;
}

.menu-item:hover {
  background-color: var(--bg-extra-light-tr-05);
}

.menu-item:focus-visible {
  border-color: var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr-05);
  outline: none;
}

@supports not selector(:focus-visible) {
  .menu-item:focus {
    border-color: var(--color-extra-dark);
    background-color: var(--bg-extra-light-tr-05);
    outline: none;
  }
}

.menu-item:active {
  background-color: var(--bg-extra-light);
}

.menu-item--active {
  background-color: var(--color-pink-bright);
  color: var(--bg-extra-light);
}

.menu-item--active .navigation__arrow {
  transform: rotate(180deg);
  align-self: end;
}

.menu-item--active:hover {
  background-color: var(--color-pink-bright);
  opacity: 0.6;
}

.menu-item--active:focus-visible {
  background-color: var(--color-pink-bright);
}

@supports not selector(:focus-visible) {
  .menu-item--active:focus {
    background-color: var(--color-pink-bright);
  }
}

.menu-item--active:active {
  background-color: var(--color-pink-bright);
  opacity: 0.3;
}

.menu-item--active ~ .popover {
  display: flex;
}

/* popovers */
.user-panel__item,
.navigation__item--catalog {
  position: relative;
}

.popover {
  position: absolute;
  display: none;
  z-index: 2;
  right: 0;
  top: calc(100% + 8px);
  border-radius: 4px;
  background-color: var(--bg-extra-light);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.user-panel__search-form {
  flex-direction: column;
  width: 356px;
  padding: 24px 16px;
}

.catalog-menu {
  right: auto;
  left: 0;
  flex-direction: column;
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
  line-height: 20px;
  min-width: 100px;
  max-width: 200px;
  width: max-content;
  list-style-type: none;
}

.catalog-menu__item--new {
  position: relative;
  margin-bottom: 8px;
}

.catalog-menu__item--new::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: var(--color-basic-neutral);
}

.catalog-menu__link {
  display: block;
  padding: 6px 16px;
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
  transition: all .1s ease;
}

.catalog-menu__item--new  .catalog-menu__link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
}

.catalog-menu__link:hover {
  background-color: var(--color-pink-extra-light);
}

.catalog-menu__link:focus-visible {
  color: var(--bg-extra-light);
  background-color: var(--color-pink-bright);
  outline: none;
}

@supports not selector(:focus-visible) {
  .catalog-menu__link:focus {
    color: var(--bg-extra-light);
    background-color: var(--color-pink-bright);
    outline: none;
  }
}

.catalog-menu__link:active {
  background-color: var(--color-pink-neutral);
}

.user-panel__cart--empty {
  display: none;
  width: 288px;
  padding: 48px 24px;
}

.user-panel__cart-message {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.cart-preview {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}

.cart-preview__title {
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.cart-preview__list {
  position: relative;
  display: grid;
  gap: 24px;
  width: 100%;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style-type: none;
}

.cart-preview__list::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-basic-light);
}

.cart-product {
  display: grid;
  grid-template-columns: 46px 1fr 87px 16px;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 4px 16px;
  align-items: center;
  min-width: 345px;
  max-width: 400px;
}

.cart-product__image {
  order: -1;
  grid-row: 1 / -1;
  border-radius: 50%;
}

.cart-product__price,
.cart-product__delete {
  grid-row: 1 / -1;
}

.cart-product__title,
.cart-product__price,
.cart-preview__full-price {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.cart-product__info {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-basic-neutral);
}

.cart-product__delete {
  width: 16px;
  height: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  cursor: pointer;
}

.log-in {
  flex-wrap: wrap;
  width: 420px;
  padding: 48px;
}

.log-in__title {
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.log-in__field {
  width: 100%;
  margin-bottom: 16px
}

.log-in__container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 4px 23px;
  align-items: start;
  justify-items: start;
  margin-top: 16px;
}

.log-in__submit {
  grid-row: span 2;
  max-width: 140px;
}

.log-in__link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.log-in__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-extra-dark);
}

.navigation__item--catalog:focus-within .popover,
.user-panel__item:focus-within .popover {
  display: flex;
}




/* slider */
.slider {
  display: grid;
  grid-template-columns: 70px 470px 348px auto;
  grid-template-rows: repeat(4, auto);
}

.main-index__slider {
  margin-bottom: 80px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  max-width: 52px;
  list-style-type: none;
}

.slider__pagination {
  grid-row: 1 / -1;
  align-self: end;
}

.slider-pagination__button {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--bg-extra-light-tr);
  cursor: pointer;
}

.slider-pagination__button:hover {
  border-color: var(--bg-extra-light);
}

.slider-pagination__button:focus-visible {
  border-color: var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr);
  outline: none;
}

@supports not selector(:focus-visible) {
  .slider-pagination__button:focus {
    border-color: var(--color-extra-dark);
    background-color: var(--bg-extra-light-tr);
    outline: none;
  }
}

.slider-pagination__button:active {
  border-color: transparent;
  background-color: var(--bg-extra-light-tr-05);
}

.slider-pagination__item--current .slider-pagination__button {
  background-color: var(--bg-extra-light);
}

.slider__list {
  grid-row: 1 / -2;
  grid-column: 2 / -1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
  /* flex-wrap: wrap; /* Проверить переполнение */
  align-items: center;
  gap: 40px;
}

.slider__item--current {
  display: flex;
}

.slider__product {
  display: grid;
  grid-template-columns: 470px 348px;
  align-items: center;
}

.slider__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.slider__title {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider__description {
  margin: 0;
  width: 430px;
  font-size: 18px;
  line-height: 24px;
}

.slider__order-button {
  align-self: flex-start;
  margin-top: 24px;
  text-decoration: none;
}

.slider__image-container {
  position: relative;
  padding: 21px;
  padding-bottom: 0;
}

.slider__image {
  display: block;
}

.slider__image-container::before,
.slider__next-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 312px;
  height: 321px;
  background-color: var(--bg-extra-light-tr);
  border-radius: 50%;
}

.slider__image-container::before {
  width: 312px;
  height: 312px;
}

.slider__next-item::before {
  width: 100px;
  height: 100px;
  opacity: 0.4;
}

.controls {
  grid-column: 3;
  grid-row: 2;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-extra-light-tr);
  border: 2px solid var(--bg-extra-light);
  border-radius: 50%;
  color: var(--bg-extra-light);
  cursor: pointer;
  transition: all .1s ease;
}

.controls__button:hover {
  background-color: var(--bg-extra-light);
  color: var(--color-extra-dark);
}

.controls__button:focus-visible {
  border-color: var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr);
  color: var(--color-extra-dark);
  outline: none;
}

@supports not selector(:focus-visible) {
  .controls__button:focus {
    border-color: var(--color-extra-dark);
    background-color: var(--bg-extra-light-tr);
    color: var(--color-extra-dark);
    outline: none;
  }
}

.controls__button:active {
  border-color: transparent;
  background-color: var(--bg-extra-light-tr-05);
  color: var(--color-extra-dark);
}

.controls__button:disabled {
  background-color: var(--bg-extra-light-tr);
  border: 2px solid var(--bg-extra-light);
  color: var(--bg-extra-light);
  opacity: 0.4;
  cursor: default;
}

.controls__item--right .controls__button {
  transform: rotate(180deg);
}

.slider__next-products {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__next-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.social {
  max-width: calc(24px*3 + 16px*2);
  grid-column: 2 / -1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__social {
  justify-self: end;
}

.social__item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__item:nth-child(3n):last-child,
.social__item:nth-child(3n + 2):nth-last-child(-n + 2),
.social__item:nth-child(3n + 1):nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  color: var(--bg-extra-light);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--bg-extra-light-tr);
}

.social__link:hover {
  background: radial-gradient(var(--color-extra-dark) 11px, var(--bg-extra-light) 11px);
  box-shadow: 0 0 0 2px var(--bg-extra-light-tr-05);
}

.social__link:focus-visible {
  background: radial-gradient(var(--color-extra-dark) 11px, var(--bg-extra-light) 11px);
  box-shadow: 0 0 0 2px var(--color-extra-dark);
  outline: none;
}

@supports not selector(:focus-visible) {
  .social__link:focus {
    background: radial-gradient(var(--color-extra-dark) 11px, var(--bg-extra-light) 11px);
    box-shadow: 0 0 0 2px var(--color-extra-dark);
    outline: none;
  }
}

.social__link:active {
  background: radial-gradient(var(--color-extra-dark) 11px, var(--bg-extra-light) 11px);
  box-shadow: 0 0 0 2px var(--bg-extra-light-tr-05);
  opacity: 0.5;
}

/* offers */
.main-index__offers {
  margin-bottom: 80px;
}

.main-index__offers-title {
  max-width: 435px;
  margin: 0 auto 55px;
  text-align: center;
}

.offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offers__item {
  display: flex;
  flex-direction: column;
  min-height: 268px;
  padding: 36px;
  padding-right: 215px;
  background-color: var(--color-pink-neutral);
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.offers__item--raspberry {
  background-image: url("../images/desktop/offer-raspberry.png");
}

.offers__item--marshmallow {
  background-image: url("../images/desktop/offer-marshmallow.png");
}

.offers__title,
.offers__description {
  margin: 0;
  margin-bottom: 28px;
}

.offers__button {
  margin-top: auto;
  align-self: flex-start;
}

.offers__title {
  font-size: 24px;
  line-height: 30px;
}

/* products */
.main-index__products {
  margin-bottom: 80px;
}

.main-index__products-title {
  max-width: 530px;
  text-align: center;
  margin: 0 auto 56px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products__item {
  display: flex;
  padding-top: 51px;
}

.products__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  background-color: var(--bg-extra-light);
  border-radius: 8px;
}

.products__image {
  order: -1;
  border-radius: 50%;
  margin: -75px auto 16px;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.products__title,
.products__description {
  margin: 0;
  width: 100%;
  text-align: center;
}

.products__title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
}

.products__description {
  margin-bottom: 16px;
  color: var(--color-dark);
}

.products__price {
  font-size: 20px;
  line-height: 24px;
}

.products__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  margin: 0;
  color: var(--bg-extra-light);
  background-color: var(--color-pink-extra-bright);
  border: 2px solid var(--color-pink-extra-bright);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease;
}

.products__cart:hover {
  color: var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr);
}

.products__cart:focus-visible {
  color: var(--bg-extra-light);
  border-color: var(--color-extra-dark);
  background-color: var(--color-pink-extra-bright);
  outline: none;
}

@supports not selector(:focus-visible) {
  .products__cart:focus {
    color: var(--bg-extra-light);
    border-color: var(--color-extra-dark);
    background-color: var(--color-pink-extra-bright);
    outline: none;
  }
}

.products__cart:active {
  color: var(--color-extra-dark);
  background-color: var(--bg-color-pink);
}

.products__cart:disabled {
  color: var(--color-dark);
  border-color: transparent;
  background-color: var(--color-basic-neutral);
  cursor: default;
}

/* advantages */
.main-index__advantages-wrapper {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/desktop/wafer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-index__advantages {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.main-index__advantages-title {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto 56px;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  list-style-type: none;
}

.advantages__item {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
}

.advantages__item::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-extra-dark);
  border-radius: 50%;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--ice-cream::before {
  background-image: url(../images/icons/advantages-ice-cream.svg);
}

.advantages__item--farm::before {
  background-image: url(../images/icons/advantages-farm.svg);
}

.advantages__item--natural::before {
  background-image: url(../images/icons/advantages-natural.svg);
}

.advantages__item--temperature::before {
  background-image: url(../images/icons/advantages-temperature.svg);
}

/* columns */
.main-index__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

.article {
  min-height: 224px;
  padding: 33px 32px;
  padding-right: 235px;
  border-radius: 16px;
  background-color: var(--bg-extra-light);
  background-image: url("../images/desktop/article-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.article__description {
  display: block;
  margin-bottom: 12px;
  line-height: 20px;
  color: var(--color-dark);
}

.article__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 30px;
}

.article__link {
  color: inherit;
  text-decoration: none;
}

.subscribe {
  display: flex;
  padding: 6px;
  border-radius: 16px;
  background-color: var(--bg-extra-light);
  background-image: url("../images/desktop/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 44px;
  color: var(--color-dark);
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 14px;
}

/* delivery */
.main-index__delivery {
  margin-bottom: 80px;
}

.delivery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  padding-left: 100px;
  border-radius: 16px;
  background-color: var(--bg-extra-light);
  background-image: url("../images/desktop/delivery-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.delivery__left-column {
  width: 380px;
}

.delivery__title {
  margin: 0;
  margin-bottom: 24px;
}

.delivery__text {
  margin: 0;
  color: var(--color-dark);
}

.delivery__text:not(:first-child) {
  margin-top: 12px;
}

.delivery__form {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--bg-extra-light);
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery__note {
  max-width: 380px;
  margin: 0;
  margin-bottom: 32px;
  color: var(--color-dark);
}

.delivery__list {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 20px 16px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
}

.delivery__item {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px 4px;
}

.delivery__item--address {
  grid-column: 1 / -1;
}

.delivery__label {
  line-height: 20px;
  font-weight: 700;
}

.delivery__info {
  justify-self: start;
  position: relative;
  display: flex;
  align-items: center;
}

.delivery__tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  left: calc(100% + 9px);
  top: -10px;
  margin: 0;
  padding: 10px 8px;
  max-width: 170px;
  min-width: 60px;
  width: max-content;
  min-height: 40px;
  border: 1px solid var(--color-basic-neutral);
  border-radius: 1px;
  background-color: var(--bg-extra-light);
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  color: var(--color-dark);
  font-size: 12px;
  line-height: 16px;
  overflow-wrap: break-word;
  user-select: none;
}

.delivery__tooltip::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-basic-neutral);
  border-right-color: transparent;
  border-top-color: transparent;
  background-color: var(--bg-extra-light);
}


.delivery__info:hover .delivery__tooltip {
  display: block;
}

.delivery__field {
  grid-column: 1 / -1;
  width: 100%;
}

.delivery__submit {
  display: grid;
  margin: 0 auto;
}

/* contacts */
.main-index__contacts-wrapper {
  padding: 64px;
  border-radius: 16px;
  background-color: var(--bg-extra-light);
  background-image: url("../images/desktop/feedback-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 344px;
  padding: 40px;
  padding-bottom: 42px;
  border-radius: 8px;
  background-color: var(--bg-extra-light);
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts__address-text {
  max-width: 180px;
}

.contacts__address-text,
.contacts__number-text {
  margin: 0;
  margin-bottom: 12px;
  color: var(--color-dark);
}

.contacts__address,
.contacts__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__address {
  margin-bottom: 24px;
  font-style: normal;
}

.contacts__number {
  color: inherit;
  text-decoration: none;
}

.contacts__note {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  font-size: 13px;
}

.contacts__link {
  margin-top: 32px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 14px 48px 4px;
}

.footer__list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.footer__item {
  display: grid;
  grid-template-columns: 16px auto;
  column-gap: 8px;
}

.footer__item--important {
  font-weight: 700;
}

.footer__item::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  place-self: center;
}

.footer__item--important::before {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart.svg");
}

.footer__link {
  justify-self: start;
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
}

.footer__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.footer__link:hover,
.footer__link:focus-visible {
  opacity: 0.6;
}

.footer__link:hover::after,
.footer__link:focus-visible::after {
  background-color: var(--color-extra-dark);
}

@supports not selector(:focus-visible) {
  .footer__link:focus {
    opacity: 0.6;
  }

  .footer__link:focus::after {
    background-color: var(--color-extra-dark);
  }
}

.footer__link:active {
  opacity: 0.8;
}

.footer__link:active::after {
  background-color: var(--color-extra-dark);
}

.maid-in__logo {
  display: block;
  margin-bottom: 14px;
  color: inherit;
}

.maid-in__icon {
  display: block;
}

.main-in__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-extra-dark);
}

.maid-in__link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.maid-in__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--color-dark);
  opacity: 0.5;
}

/* catalog header */
.main-header {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.main-catalog__header {
  margin-bottom: 40px;
}

.main-header__title {
  order: 1;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

.main-header__breadcrumbs {
  margin-bottom: 16px;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs__item:not(:first-child) {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: 8px;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__item--current .breadcrumbs__link {
  position: relative;
}

.breadcrumbs__item--current .breadcrumbs__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-extra-dark);
}

/* filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.main-catalog__filters {
  margin-bottom: 28px;
}

.filters__group {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.filters__price {
  margin: 0;
}

.filters__description,
.filters__price {
  max-width: 200px;
  margin-top: auto;
  margin-bottom: 8px;
  padding: 0 16px;
  overflow-wrap: break-word;
}

.filters__group:last-of-type {
  margin-right: 16px;
}

.filters__element {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 196px;
  max-width: 300px;
  min-height: 36px;
  padding: 6px 14px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: var(--bg-extra-light-tr);
  user-select: none;
}

.filters__element--list {
  max-width: 610px;
  margin: 0;
  padding-right: 22px;
  padding-left: 22px;
  list-style-type: none;
}

.filters__element--checkbox {
  padding-top: 8px;
  padding-bottom: 8px;
}

.filters__item {
  margin-right: 16px;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__label {
  display: grid;
  grid-template-columns: 16px auto;
  align-items: center;
  justify-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.filters__icon {
  display: none;
}

.filters__field:not(:checked) ~ .filters__label .filters__icon--default {
  display: block;
}

.filters__field:checked ~ .filters__label .filters__icon--checked {
  display: block;
}

.filters__field:hover ~ .filters__label > .filters__mark {
  color: var(--bg-extra-light);
}

.filters__field:focus-visible ~ .filters__label > .filters__mark {
  color: var(--color-extra-dark);
  opacity: 0.5;
}

@supports not selector(:focus-visible) {
  .filters__field:focus ~ .filters__label > .filters__mark {
    color: var(--color-extra-dark);
    opacity: 0.5;
  }
}

.filters__field:active ~ .filters__label > .filters__mark {
  color: var(--color-extra-dark);
  opacity: 1;
}

.filters__field:disabled ~ .filters__label {
  opacity: 0.4;
  cursor: default;
}

.filters__field:disabled ~ .filters__label > .filters__mark {
  color: var(--color-extra-dark);
  opacity: 1;
}


/* range-slider */
.range-slider {
  width: 196px;
}

.range-slider__scale {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-dark-tr);
}

.range-slider__range {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 32px;
  right: 60px;
  background-color: var(--color-dark);
}

.range-slider__list {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.range-slider__button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  border: 6px solid var(--color-extra-dark);
  border-radius: 50%;
  background-color: var(--bg-extra-light);
  cursor: pointer;
  outline: none;
}

.range-slider__button:hover {
  border-color: var(--bg-extra-light);
  background-color: var(--color-extra-dark);
}

.range-slider__button:focus-visible {
  border-color: var(--bg-extra-light);
  background-color: var(--color-extra-dark);
  box-shadow: 0 0 0 2px var(--color-extra-dark);
}

@supports not selector(:focus-visible) {
  .range-slider__button:focus {
    border-color: var(--bg-extra-light);
    background-color: var(--color-extra-dark);
    box-shadow: 0 0 0 2px var(--color-extra-dark);
  }
}

.range-slider__button:active {
  border-color: var(--color-extra-dark);
  background-color: var(--color-extra-dark);
}

.range-slider__item--from {
  transform: translateX(-50%);
}

.range-slider__item--to {
  transform: translateX(50%);
}

.sort {
  display: grid;
  grid-template-columns: auto 30px;
  align-items: center;
}

.sort__select {
  grid-column: 1 / -1;
  grid-row: 1;
  padding-right: 30px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
}

.sort__select:hover {
  background-color: var(--bg-extra-light-tr-05);
}

.sort__select:focus {
  border-color: var(--bg-extra-light);
  background-color: var(--bg-extra-light-tr-04);
  outline: none;
}

.sort__arrow {
  grid-column: 2;
  grid-row: 1;
}

.filters__price-field {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  width: 25px;
}

.filters__price-field::-webkit-outer-spin-button,
.filters__price-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* .filters__price-field {
  -moz-appearance: textfield;
} */

.filters__submit {
  min-width: 185px;
  max-width: 220px;
  margin: 0;
  margin-top: auto;
  margin-bottom: 18px;
  padding: 8px 30px;
  font: inherit;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px var(--bg-extra-light);
  background-color: var(--bg-extra-light-tr);
  outline: none;
  overflow-wrap: break-word;
  cursor: pointer;
}

.filters__submit:hover {
  box-shadow: 0 0 0 2px var(--bg-extra-light-tr);
  background-color: var(--bg-extra-light);
}

.filters__submit:focus-visible {
  box-shadow: 0 0 0 2px var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr);
}

@supports not selector(:focus-visible) {
  .filters__submit:focus {
    box-shadow: 0 0 0 2px var(--color-extra-dark);
    background-color: var(--bg-extra-light-tr);
  }
}

.filters__submit:active {
  box-shadow: none;
  background-color: var(--bg-extra-light-tr-05);
}

.filters__submit:disabled {
  box-shadow: 0 0 0 2px var(--bg-extra-light);
  background-color: var(--bg-extra-light-tr);
  opacity: 0.4;
  cursor: default;
}


.main-catalog__products {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--bg-extra-light-tr);
}

.main-catalog__products-list {
  margin-bottom: 16px;
}


/* pagination */
.main-catalog__products-controls {
  display: grid;
  grid-template-columns: 216px 1fr 216px;
  justify-items: end;
  align-items: center;
  padding: 41px 0;
  font-size: 16px;
  line-height: 16px;
}

.main-catalog__button-more {
  grid-column: 2;
  justify-self: center;
}

.pagination {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
}

.pagination__control {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination__control:hover,
.pagination__control:focus-visible {
  color: var(--bg-extra-light);
  opacity: 1;
  outline: none;
}

@supports not selector(:focus-visible) {
  .pagination__control:focus {
    color: var(--bg-extra-light);
    opacity: 1;
    outline: none;
  }
}

.pagination__control:active {
  color: inherit;
  opacity: 0.5;
}

.pagination__control:disabled {
  color: inherit;
  opacity: 0.3;
  cursor: default;
}

.pagination__control--right {
  order: 1;
  transform: rotate(180deg);
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 168px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  max-width: 50px;
  height: 24px;
  padding: 1px 6px;
  border: 1px solid transparent;
  border-radius: 12px;
  color: inherit;
  text-decoration: none;
}

.pagination__link:hover {
  background-color: var(--bg-extra-light-tr-05);
}

.pagination__link:focus-visible {
  border-color: var(--color-extra-dark);
  background-color: var(--bg-extra-light-tr);
  outline: none;
}

@support not selector(:focus-visible) {
  .pagination__link:focus {
    border-color: var(--color-extra-dark);
    background-color: var(--bg-extra-light-tr);
    outline: none;
  }
}

.pagination__link:active {
  border-color: var(--bg-extra-light);
  background-color: var(--bg-extra-light-tr-05);
}

.pagination__item--current .pagination__link{
  background-color: var(--bg-extra-light);
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-extra-dark-tr);
}

.modal--opened {
  display: block;
}

.modal__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 570px;
  height: min-content;
  padding: 64px;
  border-radius: 8px;
  background-color: var(--bg-extra-light);
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  margin-bottom: 32px;
  font: 24px;
  line-height: 30px;
}

.modal__field {
  margin-bottom: 16px;
}

.modal__field--textarea {
  height: 150px;
  resize: none;
}

.modal__field--textarea::-webkit-resizer {
  display: none;
}

.modal__submit {
  margin-top: 16px;
  align-self: flex-end;
}
